extends ../layout

block content
    .container.game_detail
        if GameInfo
            .inner
                include modules/detail/gameinfo

        if Live && Live.length && GameInfo.Status!=2
            .Title
                .inner 直播地址
            .inner
                .live
                    each live in Live
                        a.link(href="#{live.Link}",target="_blank") #{live.Name}

        if Replay && Replay.list && Replay.list.length
            .Title
                .inner 比赛录像
            .inner
                include modules/detail/replay

        if TextLive && TextLive.list && TextLive.list.length
            .Title
                .inner #{GameInfo.Status==1 ? "文字直播" : "文字实录"}
            .inner
                include modules/detail/textlive

        if Statistic && Statistic.statistic
            .Title
                .inner 技术统计
            .inner
                include modules/detail/statistic
block js
    script(src="/playball/static/js/build/nba_detail.js")