extends ../layout

block content
    div !{PlayOffsView}
    //直播
    .Title
        .inner LIVE!
    .lives.inner.J_schedule_page
        .J_operate.pre
        .J_operate.next
        .pages !{ScheduleView}


block js
    script(src="/playball/static/js/build/nba_index.js")