* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}
a{
    text-decoration: none;
}

body {
    font: 14px/1.5 'Hiragino Sans GB', 'Microsoft YaHei', simsun;
}

.Hide{
    display: none !important;
}

.Fix {
    zoom: 1
}

.Fix:after {
    display: block;
    content: '\20';
    height: 0;
    clear: both
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0, 2px) rotate(0)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 1px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, -2px) rotate(0)
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -2px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, -1px) rotate(0)
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg)
    }
}
@-webkit-keyframes blink{
    50% {
        -webkit-transform:scale(0.8)
    }
    100%{
        -webkit-transform:scale(1)
    }
}


.Title {
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: #ff8400;
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 15px;
}

.nav {
    height: 120px;
    /*box-shadow: #eee 0 1px 2px 1px;*/
    /*position: fixed;*/
    width: 100%;
    /*background: #ffffff;*/
    /*z-index: 10000000;*/
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6ab7cf), to(#deeff4));
}



.nav .logo {
    width: 220px;
    height: 100px;
    display: block;

    background: url(./img/logo2.png) no-repeat 20px center;
    -webkit-animation: shake 1s infinite linear;

}

.inner {
    width: 1024px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding:0 0 100px ;
}

.playoff {
    padding: 30px 0;
    position: relative;
    background: url(./img/playoffbg.png) center center no-repeat;
}

.playoff .area {
    width: 512px;

}

.playoff .west {
    float: left;

}

.playoff .east {
    float: right;
}

.playoff .west .round {
    float: left;
}

.playoff .east .round {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.playoff .box {
    /*width:85px;*/
    /*border: solid 1px #ccc;*/
    height: 38px;
    line-height: 38px;
    position: relative;
    text-align: left;
    padding-left: 40px;
    font-size: 16px;
}

.playoff .east .box {
    padding-left: 0;
    padding-right: 40px;
}

.playoff .box.null, .playoff .box.live {
    padding: 0 20px;
    text-align: center;
}

.playoff .box.last {
    margin-bottom: 0 !important;
}

.playoff .box .self-line, .playoff .box .hor {
    position: absolute;
    width: 10px;
    border-top: solid 1px #ba0d0d;
}

.playoff .box .ver {
    position: absolute;
    top: 20px;
    border-left: solid 1px #ba0d0d;

}


.playoff .box.live .on{
    background: url(./img/video_live.png) no-repeat 0 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    -webkit-animation: blink 1s infinite linear;
}

.playoff .west .box .team_logo {
    left: 5px;
}

.playoff .east .box .team_logo {
    right: 5px;
}

.playoff .box .team {
    white-space: nowrap;
    width: 60px;
    display: inline-block;
    text-align: center;
}

.playoff .box .score {
    display: inline-block;
    background: #ba0d0d;
    padding: 0 8px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
}

.playoff .west .box .score {
    float: left;
}

.playoff .west .box .ver {
    right: -10px;
}

.playoff .east .box .ver {
    left: -10px;
}

.playoff .box .self-line {
    top: 50%;

}

.playoff .west .self-line {
    left: 100%;
}

.playoff .east .self-line {
    right: 100%;
}

.playoff .box .hor {
    top: 60px;

}

.playoff .west .box .hor {
    right: -20px;
}

.playoff .east .box .hor {
    left: -20px;
}

.playoff .round {
    margin-right: 20px;
}

.playoff .round2 {
    padding-top: 40px;
}

.playoff .round3 {
    padding-top: 120px;
}

.playoff .round4 {
    padding-top: 280px;
}

.playoff .round1 .box {
    margin-bottom: 40px;
}

.playoff .round2 .box {
    margin-bottom: 120px;
}

.playoff .round3 .box {
    margin-bottom: 280px;
}

.playoff .round2 .ver {
    height: 158px;
}

.playoff .round2 .hor {
    top: 100px;
}

.playoff .round3 .ver {
    height: 318px;
}

.playoff .round3 .hor {
    top: 180px;

}

.playoff .round4 .self-line {
    display: none;
}

.playoff .champion {
    width: 128px;
    height: 235px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -118px 0 0 -64px;
}

/**减小round1 球队间距*/
.round1 .box.even {
    position: relative;
    top: 10px;
}

.round1 .box.even .hor {
    top: 50px;
}

.round1 .box.even .ver {
    height: 58px;
}

.round1 .box.odd {
    position: relative;
    top: -10px;
}

/*球队颜色*/
/*.box.gsw{*/
/*background-color: #0d5dab;*/
/*color:#ddbe43;*/
/*border-color: #c8b43d;*/
/*}*/
/*.box.nop{*/
/*background-color: #051c49;*/
/*color: #ffffff;*/
/*border-color: #ac122a;*/
/*}*/
/*.box.por{*/
/*background-color: #251d1d;*/
/*color: #ffffff;*/
/*border-color: #dd2b2d;*/
/*}*/
/*.box.mem{*/
/*background-color: #14335b;*/
/*color: #ffffff;*/
/*border-color: #f9c02b;*/
/*}*/
/*.box.lac{*/
/*background-color: #0144a8;*/
/*color: #ffffff;*/
/*border-color: #8f326d;*/
/*}*/
/*.box.sas{*/
/*background-color: #cdd5da;*/
/*color: #000000;*/
/*border-color: #837f80;*/
/*}*/
/*.box.hou{*/
/*background-color: #c60032;*/
/*color: #ffffff;*/
/*border-color: #ffffff;*/
/*}*/
/*.box.dal{*/
/*background-color: #086cb5;*/
/*color: #ffffff;*/
/*border-color: #21262e;*/
/*}*/
/*.box.alt{*/
/*background-color: #122b53;*/
/*color: #ffffff;*/
/*border-color: #9a4d4f;*/
/*}*/
/*.box.bkn{*/
/*background-color: #030303;*/
/*color: #ffffff;*/
/*border-color: #ffffff;*/
/*}*/
/*.box.tor{*/
/*background-color: #ce0235;*/
/*color: #ffffff;*/
/*border-color: #b34a60;*/
/*}*/
/*.box.was{*/
/*background-color: #ffffff;*/
/*color: #e7193a;*/
/*border-color: #7c2239;*/
/*}*/
/*.box.chi{*/
/*background-color: #cf0236;*/
/*color: #ffffff;*/
/*border-color: #000000;*/

/*}*/
/*.box.mil{*/
/*background-color: #0e4a22;*/
/*color: #ffffff;*/
/*border-color: #a65460;*/
/*}*/
/*.box.cle{*/
/*background-color: #8e0535;*/
/*color: #e29a29;*/
/*border-color: #d4812a;*/
/*}*/
/*.box.bos{*/
/*background-color: #118346;*/
/*color: #ffffff;*/
/*border-color: #ffffff;*/
/*}*/

/*球队logo*/

.team_logo{
    width: 30px;
    height: 30px;
    position: absolute;
    top:50%;
    margin-top:-15px;
}

.gsw.team_logo {
    background: url(./img/GSW.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.nop.team_logo {
    background: url(./img/NOH.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.por.team_logo {
    background: url(./img/POR.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.mem.team_logo {
    background: url(./img/MEN.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.lac.team_logo {
    background: url(./img/LAC.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.sas.team_logo {
    background: url(./img/SAS.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.hou.team_logo {
    background: url(./img/HOU.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.dal.team_logo {
    background: url(./img/DAL.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.alt.team_logo {
    background: url(./img/ATL.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.bkn.team_logo {
    background: url(./img/BKN.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.tor.team_logo {
    background: url(./img/TOR.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.was.team_logo {
    background: url(./img/WAS.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.chi.team_logo {
    background: url(./img/CHI.png) no-repeat 0 0;
    background-size: 30px 30px;

}

.mil.team_logo {
    background: url(./img/MIL.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.cle.team_logo {
    background: url(./img/CLE.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.bos.team_logo {
    background: url(./img/BOS.png) no-repeat 0 0;
    background-size: 30px 30px;
}

/**直播列表*/
.lives {
    /*padding: 15px 0 ;*/
    /*border: solid 1px #eaeaea;*/
}
.lives .dates_holder{
    background-color: #cccccc;
}
.lives .date {
    color: #ffffff;

    font-size: 16px;
    text-align: center;
    line-height: 20px;
    padding: 10px 48px;
    display: inline-block;
}
.lives .date.on , .lives .date:hover{
    background-color: #08c;
}

.lives .games {
    padding: 10px 0;
}

.lives .games li {
    float: left;
    width:480px;
    border: solid 1px #cccccc;
    margin: 10px 60px 10px 0;
    box-shadow: #cccccc 0 0  2px 0;
}

.lives .games li.rightest{
    margin-right: 0;
}

.lives .games li .title{
    line-height: 40px;
    border-bottom: solid 1px #cccccc;
    padding-left: 60px;
    position: relative;
}

.lives .games li .clock{
    width:24px;
    height: 24px;
    background: url(./img/clock.png) no-repeat 0 0;
    position: absolute;
    left: 20px;
    top:50%;
    margin-top: -12px;
}

.lives .games li .main{
    position: relative;
}

.lives .games li .team{
    padding: 15px 160px 15px 65px ;
    height: 40px;
    line-height: 40px;
    position: relative;
    font-weight: bold;
    border-bottom: solid 1px #cccccc;
    font-size: 20px;
}
.lives .games li .score{
    float: right;
}
.lives .games li .team .team_logo{
    left: 20px;
}
.lives .games li .status{
    position: absolute;
    right: 0;
    top:0;
    background: #ffffff;
    height: 140px;
    line-height: 140px;
    width: 140px;
    text-align: center;
    border-left:solid 1px #cccccc;
}

.lives .games .live{
    padding: 10px 20px;
    line-height: 1.5;
}



.lives .games li .link {
    color: #08c;
    font-size:14px;
    float: left;
    margin-right: 10px;
    line-height: 25px;
    min-width:130px;
}
.lives .games li .link:hover{
    text-decoration: underline;
}