doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/playball/static/stylesheets/style.css')
  body
    .nav
        .inner
            a.logo(href="")
    .container
        block content

    script(src="/playball/static/js/jquery-1.11.2.min.js")

    block js