doctype html
html
  head
    title 玩球体育 - 最好的NBA直播，QQ直播，CCTV5直播，重庆卫视，在线直播
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    meta(name="keywords",content="直播吧,NBA直播,NBA录像,cctv5在线直播,a直播吧,直播,体育直播,playball")
    meta(name="description",content="玩球体育专业提供最全的NBA直播,录像,无插件省时省心,赛程安排一目了然")
    meta(content="玩球体育",name="Author")
    link(rel='stylesheet', href='/playball/static/stylesheets/playball.css')
  body
    .nav
        .inner
            a.logo(href="/playball/nba")
    .container
        block content

    script(src="/playball/static/js/jquery-1.11.2.min.js")

    block js
